.mobieDropdown{
    position: relative;

}
.mobieDropdown a.btn-Dropdown{
    display: table;
    border: 1px solid #009999;
    width: 30px;
    height: 30px;
    text-align: center;
}
.mobieDropdown a{
    display: block;

}

.mobieDropdown .mobieDropdown-Content{
    display: none;
}
.mobieDropdown .mobieDropdown-Content a{
    display: block;
    min-width: 300px;
    white-space: nowrap;
    background-color: #009999;
    color: #fff;
    padding: 10px;
}