.product-name{
    height: 50px;
}
.select2-container .select2-selection--single{
    height: 35px;
}
.input-search{
    position: relative;
}
.input-search .goiY{
    position: absolute;
    top: 30px;
    left: -3px;
    width: 300px;
    z-index: 999;
    display: none;
    height: 300px;
    overflow: auto;
}